---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'
import { themeConfig } from '~/.config'
import Pagination from '~/components/Pagination.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import LayoutPost from '~/layouts/LayoutPost.astro'
import { getPostDescription, getPosts } from '~/utils'

const { translate: t } = Astro.locals

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getPosts()
  posts.sort((a, b) => {
    if (a.data.pin && !b.data.pin) return -1
    if (!a.data.pin && b.data.pin) return 1
    return 0
  })
  return paginate(posts, { pageSize: themeConfig.site.pageSize })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page } = Astro.props
---

<LayoutDefault>
  <!-- ✅ Add image here -->
  <img
    src="/typograph-og.jpg"
    alt="Welcome image"
    style="width: 100%; max-width: 900px; margin: 1rem auto; display: block; border-radius: 1rem;"
  />

  <!-- Blog posts -->
  <section contain-layout flex="~ col gap-7.5">
    {
      page.data.map((post) => (
        <LayoutPost post={post}>
          <p class="line-clamp-4">{getPostDescription(post)}</p>
        </LayoutPost>
      ))
    }
  </section>

  <!-- Pagination -->
  <Pagination ... />
</LayoutDefault>
